p{
  font-family:Arial;
  margin-top: 0;
  margin-bottom: 0;
}



.video-tittle{
  font-weight: bold;
  font-size:18px;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;

}

.video-stats{
  font-size:14px;
  color:gray;

  margin-bottom:20px;
}

.video-author{
  font-size: 14px;
  color: rgb(96,96,96);
 
  margin-bottom: 20;
}

.video-disc{s
  color: grey;
  width: 280px;
  line-height: 20px;
 

}
.amother{
  font-family: Arial;
  margin-bottom: 50px;
  background-color: red;
  color:white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 10px;
  font-size: 14px;


}
.newstyle{
  color:red;
}

.newstyle:hover {
  text-decoration: underline;
}
